@page "/schedule"

@using WebModel

@inject DialogService dialogService

<h2>Detnal SPA - Terminarz</h2>

<RadzenScheduler style="height: 768px;"
                 TextProperty="Label" SelectedIndex="2" Data=@VisitEnum
                 TItem="Visit" StartProperty="Date" EndProperty="EndDate">
    <RadzenDayView TimeFormat="HH:mm"/>
    <RadzenWeekView TimeFormat="HH:mm"/>
    <RadzenMonthView />
</RadzenScheduler>
