@page "/schedule"

@using WebModel

@inject DialogService dialogService

<h2>Detnal SPA - Terminarz</h2>

<RadzenScheduler @ref=@scheduler style="height: 900px;" SlotSelect=@OnSlotSelect AppointmentSelect=@OnVisitSelect
                 SlotRender=@OnSlotRender TextProperty="Label" SelectedIndex="2" Data=@VisitList
                 TItem="Visit" StartProperty="Date" EndProperty="EndDate" AppointmentRender=@OnVisitRender>
    <RadzenDayView TimeFormat="HH:mm"/>
    <RadzenWeekView TimeFormat="HH:mm"/>
    <RadzenMonthView />
</RadzenScheduler>
