@page "/schedule"

@using WebModel

@inject DialogService dialogService
@inject NotificationService notificationService

<h2>Detnal SPA - Terminarz</h2>


<RadzenScheduler @ref=@scheduler style="height: 900px;" SlotSelect=@OnSlotSelect AppointmentSelect=@OnVisitSelect
                 SlotRender=@OnSlotRender TextProperty="Label" SelectedIndex="1" Data=@VisitList
                 LoadData=@OnLoadData
                 TItem="Visit" StartProperty="Date" EndProperty="EndDate" AppointmentRender=@OnVisitRender>
    <RadzenDayView TimeFormat="HH:mm" Text="Dzień" />
    <RadzenWeekView TimeFormat="HH:mm" Text="Tydzień" />
    <RadzenMonthView Text="Miesiąć" />
</RadzenScheduler>
